
<div id="div1"> 
    <div id="div2"><h4>Details</h4></div>
    <div id="">
        <table border=1 align=center id="tablediv">

         <tr>
             <th>First_Name</th>
             <th>Last_Name</th>
             <th>Gender</th>
             <th>Age</th>
             <th>Contact_Number</th>
             <th>Email</th>
            
         </tr>
         <tr *ngFor="let reg of registeredInfo">
             <td>{{reg.firstname}}</td>
             <td>{{reg.lastname}}</td>
             <td>{{reg.gender}}</td>
             <td>{{reg.age}}</td>
             <td>{{reg.phnnumber}}</td>
             <td>{{reg.email}}</td>
         </tr>
     
        </table>
    </div>
    
</div>