
#div2{
    /* background-color:deepskyblue; */
    width: 40%;
    margin-left: 30%;
    height: 30px;
    border-radius: 5px;
}
#div1{
    background-image: linear-gradient(to bottom, #03a9f43b, rgb(207, 231, 243), white);
}
#btn1{
    width: 120px;
    background-color: rgba(194, 187, 187, 0.856);
    margin-top: 10px;
    border: none;
}
#tablediv{
    margin-top: 1%;
    margin-left: 15%;
    text-align: center;
     background-color:cornsilk;
    width: 70%;
 }
 


/*#div1{
    background-image: linear-gradient(to bottom, #03a9f43b, rgb(231, 227, 227), white);
}
#div2{
    background-color:deepskyblue;
    width: 495px;
    margin-left: 33%;
    height: 60px;
}
#tablediv{
    margin-left: 33%;
    background-color:cornsilk;
    width: 44%;
    height: 100%;
}*/
#datatable{
    width: 300px;
}

#deleteicon:hover{
    cursor: pointer;
}
#updateicon{
    width: 20px;
    height: 20px;
}
#updateicon:hover{
    cursor: pointer;
}


