
<div id="div1"> 
    <div id="div2"><h4 style="font-weight: 500;">Candidate Details</h4></div>
    <div id="">
        <table border=1 align=center id="tablediv">

         <tr>
             <th style="font-size: 18px;background-color: rgb(184, 184, 245);">First Name</th>
             <th style="font-size: 18px;background-color: rgb(184, 184, 245);">Last Name</th>
             <th style="font-size: 18px;background-color: rgb(184, 184, 245);">Gender</th>
             <th style="font-size: 18px;background-color: rgb(184, 184, 245);">Age</th>
             <th style="font-size: 18px;background-color: rgb(184, 184, 245);">Phone Number</th>
             <th style="font-size: 18px;background-color: rgb(184, 184, 245);">Email</th>
            
         </tr>
         <tr *ngFor="let reg of registeredInfo">
             <td>{{reg.firstname}}</td>
             <td>{{reg.lastname}}</td>
             <td>{{reg.gender}}</td>
             <td>{{reg.age}}</td>
             <td>{{reg.phnnumber}}</td>
             <td>{{reg.email}}</td>
         </tr>
     
        </table>
    </div>
    
</div>