<div  id="div1">
    <div id="div2"><h2>UpdateQuestion</h2></div>
    <form #questionInfo="ngForm" (ngSubmit)="updateQuestionInfo(questionInfo.value)">
        <label id="label1">QuestionId:</label>
        <input type="number" id="input1" name="qid" ngModel><br>
        <label id="label2">Question:</label>
        <input type="text" id="input2" name="question" ngModel><br>
        <label id="label3">OptionA:</label>
        <input type="text" id="input3" name="optionA" ngModel><br>
        <label id="label4">OptionB:</label>
        <input type="text" id="input4" name="optionB" ngModel><br>
        <label id="label5">optionC:</label>
        <input type="text" id="input2" name="optionC" ngModel><br>
        <label id="label6">optionD:</label>
        <input type="text" id="input2" name="optionC" ngModel><br>
        <label id="label7">Answer:</label>
        <input type="text" id="input2" name="answer" ngModel><br>


        <input type="submit" value="updatename" id="btn1" class="btn btn-warning" class="btn btn-warning">
        <input type="reset" value="reset"  id="btn1" class="btn btn-warning"><br>
        </form>
        {{msg}}
</div>

