<div>
    <h2>Admin Dashboard</h2>
<nav class="navbar">
    <ul>
        <li id="li"><input  type="button" value="logout" (click)="logout()"><br></li>
        <li><a routerLink="subject" id="btn1">Subject</a></li>
        <li><a routerLink="question">Question</a></li> 
       <li><a routerLink="TestDetails">TestDetails</a></li>
       <li><a routerLink="Registered">RegisteredCandidates</a></li>

    </ul>  
</nav>
<router-outlet></router-outlet>
</div>


<div  id="div1">
    <div id="div2"><h2>UpdateQuestion</h2></div>
    <form #questionInfo="ngForm" (ngSubmit)="updateQuestionInfo(questionInfo.value)">
        <label id="label1">QuestionId:</label>
        <input type="number" id="input1" name="qid"  [(ngModel)]="QuestionNo" ><br>

        <label id="label2">Question:</label>
        <input type="text" id="input2" name="question"  [(ngModel)]="Question" ngModel><br>

        <label id="label3">OptionA:</label>
        <input type="text" id="input3" name="optionA"  [(ngModel)]="OptionA"  ngModel><br>

        <label id="label4">OptionB:</label>
        <input type="text" id="input4" name="optionB"  [(ngModel)]="OptionB"  ngModel><br>

        <label id="label5">optionC:</label>
        <input type="text" id="input2" name="optionC"  [(ngModel)]="OptionC"  ngModel><br>

        <label id="label6">optionD:</label>
        <input type="text" id="input2" name="optionD"  [(ngModel)]="OptionD"  ngModel><br>

        <label id="label7">Answer:</label>
        <input type="text" id="input2" name="answer"  [(ngModel)]="Answer"   ngModel><br>

        <label id="label7">sid:</label>
        <input type="text" id="input2" name="sid"  [(ngModel)]="Subject" ngModel><br>

       <input type="submit" value="update" id="btn1" class="btn btn-warning">
        
        </form>

        <div id="backbtn"> 
            Back to previous page?<a (click)="goback()" id="clickhere"> click here</a>
        </div>
        <p style="color: green;">{{msg}}</p>
       
       
</div>

