#div1{
    background-color:cornsilk;
    width: 40%;
    height: 250px;
    margin-left: 30%;
}
#div2{
    background-color:deepskyblue;
    height: 60px;
}
#btn1{
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
}
#input1{
    width: 200px;
    margin-left: 10px;
    margin-right: 17px;
    margin-top: 10px;
}
#input2{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#label1{
    margin-top: 10px;
}
#label2{
    margin-left: 4px;
    margin-top: 10px;
}