#div1{
    background-color:cornsilk;
    width: 40%;
    height: 500px;
    margin-left: 30%;
}
#div2{
    background-color:deepskyblue;
    height: 60px;
}
#btn1{
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
}
#input1{
    width: 200px;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 10px;
}
#input2{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#input3,#input4,#input5,#input6{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#input7{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#input8{
    width: 200px;
    margin-top: 10px;
    margin-left: 3px;
}
#label1{
    margin-left: 10px;
    margin-top: 10px;
}
#label2{
    margin-left: 4px;
    margin-top: 10px;
}
#label3,#label4,#label5,#label6{
    margin-left: 10px;
    margin-top: 10px;
}
#label7{
    margin-left: 15px;
}
#label8{
    margin-right: 8px;
}