<div>
    <!--<h3>welcome {{username}}</h3>-->
    <nav class="navbar">
        <ul>
            <li id="li"><input  type="button" value="logout" id="log" (click)="logout()"><br></li>
            <li><a routerLink="contact" routerLinkActive="activeTab">ContactUs</a></li>
            <li><a routerLink="about" routerLinkActive="activeTab">AboutUs</a> </li>
            <li class="rt"><a  routerLink="profile" routerLinkActive="activeTab">Student Profile</a></li>
            <li class="rt"><a routerLink="TakeTest" routerLinkActive="activeTab">Attempt Test</a> </li>
        </ul>  
 </nav>
 <router-outlet></router-outlet>


</div>
