<div>
    <h2>Student Dashboard</h2>
    <h3>welcome {{username}}</h3>
    <nav class="navbar">
        <ul>
            <li id="li"><input  type="button" value="logout" (click)="logout()"><br></li>

            <li><a routerLink="">ContactUs</a></li>
            
            <li><a routerLink="">AboutUs</a> </li>

        </ul>  
 </nav>




            <li><a routerLink="profile">Student Profile</a></li>
            
            <li><a routerLink="update">Update Profile</a> </li>
            
       
 <router-outlet></router-outlet>


</div>
