
    <!--<h2>Admin Dashboard</h2>-->
    <div>
     
     <nav class="navbar">
            <ul>
                <li id="li"><input  type="button" value="Logout" (click)="logout()"><br></li>

                <!-- <li><a routerLinkActive="active"  routerLink="student">Student</a></li>
                
                <li><a routerLink="subject">Subject</a> </li> 
                <li><a routerLinkActive="active"  routerLink="subject" id="btn1">subject</a></li>
              <li><a routerLink="question">Question</a></li> 
               <li><a routerLink="question">Question</a></li>
                <li><a  routerLinkActive="active"  routerLink="question">Question</a></li> 
               <li><a  routerLinkActive="active"  routerLink="TestDetails">TestDetails</a></li>
               <li><a  routerLinkActive="active"  routerLink="Registered">RegisteredCandidates</a></li> 
       
                <li><a routerLink="student" id="a1">Student</a></li>-->
                <li><a   routerLink="subject" id="btn1">Subject</a></li>
                <li><a   routerLink="question">Question</a></li> 
               <li><a   routerLink="TestDetails">TestDetails</a></li>
               <li><a  routerLink="Registered">RegisteredCandidates</a></li>

            </ul> 
          
     </nav>
     <router-outlet></router-outlet>
   </div>
   
