
    <!--<h2>Admin Dashboard</h2>-->
    <div>
     
     <nav class="navbar">
            <ul>
                <li id="li"><input  type="button" value="Logout" (click)="logout()"><br></li>
                <li><a   routerLink="subject" routerLinkActive="activeTab">Subject</a></li>
                <li><a   routerLink="question" routerLinkActive="activeTab">Question</a></li> 
               <li><a   routerLink="TestDetails" routerLinkActive="activeTab">Test Details</a></li>
               <li><a  routerLink="Registered" routerLinkActive="activeTab">Registered Candidates</a></li>

            </ul> 
          
     </nav>
     <router-outlet></router-outlet>
   </div>
   
