<div>
    <h2>Admin Dashboard</h2>

     <nav class="navbar">
            <ul>
                <li id="li"><input  type="button" value="logout" (click)="logout()"><br></li>
                <li><a routerLink="student">Student</a></li>
                
                <!-- <li><a routerLink="subject">Subject</a> </li> -->
                <li><a routerLink="subject" id="btn1">subject</a></li>
              <!--<li><a routerLink="question">Question</a></li> 
               <li><a routerLink="question">Question</a></li>-->
                <li><a routerLink="question">Question</a></li> 
               <li><a routerLink="TestDetails">TestDetails</a></li>
               <li><a routerLink="Registered">RegisteredCandidates</a></li>

            </ul>  
     </nav>
     <router-outlet></router-outlet>
   </div>
   
