#div1{
    background-image: linear-gradient(to bottom, #03a9f43b, rgb(207, 231, 243), white);
}
#div2{
    background-color:deepskyblue;
    width: 25%;
    margin-left: 39%;
    height: 30px;
    border-radius: 8px;
}
#btn1{
    width: 120px;
    background-color: rgba(194, 187, 187, 0.856);
    margin-top: 10px;
    border: none;
}
#btn1:hover{
    background-color: rgb(177, 169, 169);
}
#tablediv{
    margin-left: 33%;
    background-color:cornsilk;
    width: 36.6%;
    height: 100%;
}
#datatable{
    width: 500px;
}

#deleteicon:hover{
    cursor: pointer;
}
#updateicon{
    width: 20px;
    height: 20px;
}
#updateicon:hover{
    cursor: pointer;
}
#input1{
    width: 100%;
}
#input2{
    width: 100%;
}
#input3{
    width: 100%;
} 
#massege{
    color: green;
margin-top: 10px;
}


