
<div id="div1">
    <div id="div2"><h4>Data Of all subjects</h4></div>
    
    <div id="tablediv">
        <table border=1 id="datatable">
         <tr>
             <th style="font-size: 20px;">Sid</th>
             <th style="font-size: 20px;">Sname</th>
             <th style="font-size: 20px;">Level</th> 
             <th style="font-size: 20px;" colspan="2">Action</th>
                         
         </tr>
         <tr *ngFor="let subject of subjectInfo">
             <td style="font-size: 17px;">{{subject.sid}}</td>
             <td style="font-size: 17px;">{{subject.sname}}</td>
             <td style="font-size: 17px;">{{subject.level}}</td>
             <input type="hidden" name="sid" value="{{subject.sid}}" #sid>
             <input type="hidden" name="sname" value="{{subject.sname}}" #sname>
             <input type="hidden" name="level" value="{{subject.level}}" #level>

              <td><i class="fa fa-trash-o" id="deleteicon" aria-hidden="true" (click)="deleteSubjectData(subject.sid) "></i></td>
              <td><i class="fa fa-pencil-square-o" id="updateicon" aria-hidden="true" (click)="updateSubjectData(sid.value,sname.value,level.value)"></i></td>
         </tr>


         <tr id="tr1" *ngIf="field" [formGroup]="subjectAdd" >
            <td> <input type="number" formControlName="sid" id="input1"></td>
            <td><input type="text" formControlName="sname" id="input2"></td>
            <td><input type="text" formControlName="level" id="input3"></td>
        </tr>

          <!-- <input type="button" value="Add Subject" id="btn1" class="btn btn-warning" (click)="fieldAppear()"/>
          <input type="submit"  id="btn1" class="btn btn-warning" value="submit" (click)="storeSubjectDetails()"/> -->


        
        </table>
        <input type="button" value="Add Subject" id="btn1" class="btn btn-warning" (click)="fieldAppear()"/>&nbsp;
        <input type="submit"  id="btn1" class="btn btn-warning" value="submit" (click)="storeSubjectDetails()"/>
        <div id="massege">{{msg}}</div>
     </div>
    

</div>


