<div>

        
</div>
<!-- <div>
    <h2>All Test Details</h2>
    <input type="button" value="get Test Details" (click)="loadTestData()">
    <div *ngIf="flag">
   <table border=1>
    <tr>
        <th>TestId</th>
        <th>Score</th>
        <th>Subject Id</th>
        <th>Student Id</th>
        <th>Question Id</th>
        <th>Status</th>
       
    </tr>
    <tr *ngFor="let test of testInfo">

       
     

        <td>{{test.testname}}</td>
        <td>{{test.score}}</td>
       
        <td>{{test.firstname}}</td>

        <td>{{test.status}}</td>
    </tr>

   </table>
</div>
</div> -->
