<div>
    <div id="div1">
        <p id="p1">Get in touch</p>
        <p id="p2">For any Technical Query Email on: admin@gmail.com</p>
    </div>
    <div id="leftdiv">
        <p id="p3">Talk To Executive</p>
        <p id="p4">If interested? just pickup the phone to talk to our member</p>
        <p style="color: rgb(89, 89, 248);">+234 654 8547</p>
        <p id="p5">View all global numbers </p>
    </div>
    <div id="rightdiv">
        <p id="p6">Contact Customer Support</p>
        <p id="p7">Sometimes you need little help from your friends. Or a Online Exam rep. Don't worry...we are here for you.</p>
        <input type="submit" value="Contact Support" id="btn">
    </div>
</div>