#maindiv{
    margin-top: 1%;
}
#div1{
    height: 240px;
    width: 99%;
    margin-left: 0.4%;
    background: rgba(87, 90, 241, 0.5);
}
#p1{
    font-weight: bold;
    margin-top: 4%;
    margin-left: 44%;
    position: absolute;
    font-size: 30px;
    color: white;
}
#p2{
    margin-top: 6.5%;
    position: absolute;
    margin-left: 38.5%;
}
#p3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
#p4{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
#p5{
    color: rgb(89, 89, 248); 
    font-weight: bold;
}
#p5:hover{
    cursor: pointer;
    color: rgb(10, 37, 158)
}
#p6{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
#p7{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
#leftdiv{
    background: rgba(236, 234, 234, 0.5);
    width: 24%;
    height: 250px;
    float: left;
    margin-left: 25%;
    position: relative;
    top: -40px;
    box-shadow: 0px 4px 16px ;
}
#rightdiv{
    background: rgba(236, 235, 235, 0.5);
    width: 24%;
    height: 250px;
    float: left;
    margin-left: 30px;
    position: relative;
    top: -40px;
    box-shadow: 0px 4px 16px ;
}
#btn{
    margin-top: 20px;
    background-color: rgba(214, 210, 210, 0.904);
    box-shadow: 0px 3px 4px ;
}
#btn:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}
