<div>
    <table border=1>
        <tr>
            <th>TestName</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Questions</th>
            <th>Score</th>
            <th>Status</th>
           
        </tr>
        <tr *ngFor="let test of testInfo">
            <td>{{test.testname}}</td>
            <td>{{test.firstname}}</td>
            <td>{{test.sname}}</td>
            <td>{{test.noofquestions}}</td>
            <td>{{test.score}}</td>
            <td>{{test.status}}</td>
        </tr>
    
       </table>
</div>


