#div1{
    background-image: linear-gradient(to bottom, #03a9f43b, rgb(231, 227, 227), white);
}
#div2{
    background-color:deepskyblue;

    width: 460px;
    margin-left: 30%;
    height: 30px;
    border-radius: 8px;
}
#tablediv{
    margin-left: 25%;
    background-color:cornsilk;
    width: 45%;
    height: 100%;
}
#datatable{
 width: 600px;
}

#deleteicon:hover{
    cursor: pointer;
}
#updateicon{
    width: 20px;
    height: 20px;
}
#updateicon:hover{
    cursor: pointer;
}

