<div>
    <a routerLink="Insert-Test-Details" id="btn1" class="btn btn-primary">Insert Test Details</a>
    <a routerLink="Delete-Test-Details" id="btn1" class="btn btn-primary">Delete Test Details</a>
    <a routerLink="DisplayAll-Test-Details" id="btn1" class="btn btn-primary">Display Test Details</a>
    <a routerLink="Update-Test-Details" id="btn1" class="btn btn-primary">Update Test Details</a>
    <a routerLink="passedstudentlist" id="btn1" class="btn btn-primary">passed student list</a>
    <a routerLink="failedstudentlist" id="btn1" class="btn btn-primary">failed student list</a>
    <hr>
    <router-outlet></router-outlet>
</div>


