<div id="div1">
    <div id="div2"><h4>Update Subject Details</h4></div>
    <form #subjectRef="ngForm" (ngSubmit)="updateSubjectData(subjectRef.value)">
        <label id="label1">Subject Id:</label>
        <input type="number" id="input1" name="sid" ngModel><br/>

        <label id="label2">Subject:</label>
        <input type="text" id="input2" name="sname" ngModel><br/>

        <input type="submit" value="Update" id="btn1" class="btn btn-warning">
        <input type="reset" value="reset" id="btn1" class="btn btn-warning"><br>
    </form>
    {{msg}}
</div>
