<div>
    <div id="leftdiv" *ngIf="flag1">
        <h4>Questions:</h4>
            <div *ngFor="let val of questioncount" class="btn-group">
                 <input type="submit" name="q1" id="q1_btn" [disabled]="val==questioncount.length+1" value={{val+1}} (click)="GoToQuestion1(questioncount[val])">
            </div>
    </div>

    <div id="middlediv"  align=center>
        
    <!-- <h4>Take Test</h4> -->
   
    <!-- <label>Subject:</label>
    <input type="text" formControlName="sname">
    <label>Level:</label>
    <input type="text" formControlName="level">

    <input type="submit" value="Take Test"> -->
    <!-- <div id="div1">
    <form [formGroup]="testRef" (ngSubmit)="Test()">
           <input type="submit" value="Start Test" id="btn1" class="btn btn-warning" [disabled]="k==1">  
    </form>
    </div> -->

    <div align=center *ngIf="flag4">
        Your score for the test is {{count}}
    </div>


    <div *ngIf="flag" id="div2">
     <form [formGroup]="testRef" (ngSubmit)="nextquestion()">
        
                <ul id="ul">
                    <li id=li1>{{i+1}}).{{QuestionInfo[i]?.question}}</li>
                    <li id=li><input type="radio" formControlName="option" value="{{QuestionInfo[i]?.optionA}}" >{{QuestionInfo[i]?.optionA}}</li>
                    <li id=li><input type="radio" formControlName="option" value="{{QuestionInfo[i]?.optionB}}" >{{QuestionInfo[i]?.optionB}}</li>
                    <li id=li><input type="radio" formControlName="option" value="{{QuestionInfo[i]?.optionC}}" >{{QuestionInfo[i]?.optionC}}</li>
                    <li id=li><input type="radio" formControlName="option" value="{{QuestionInfo[i]?.optionD}}" >{{QuestionInfo[i]?.optionD}}</li>
                    <hr id="hr1">
                    <input type="button" value="Previous" name="previous" id="previous" (click)="previousquestion()" [disabled]="i==0" class="btn btn-warning">&nbsp;&nbsp;
                    <input type="submit" value="Next" name="next" id="next"  [disabled]="i==QuestionInfo.length-1" class="btn btn-warning">
                </ul>
            </form>
                <form [formGroup]="testRef" (ngSubmit)="nextquestion()">
                    
                    <input type="Submit" value="submit Test" [disabled]="i!=QuestionInfo.length-1" class="btn btn-warning" id="submit-test" >
                    
                </form>
        
                
    
    </div>     

        <!-- <span *ngIf="i==QuestionInfo.length-1" style="font-size: 20px;">{{msg}}</span><br/> -->
        <span *ngIf="i==QuestionInfo.length-1" style="font-size: 20px;">{{msg}}</span><br/>
   
       
    </div>
    <div id="rightdiv"  *ngIf="flag3">
        <div id="timerdiv">
            <div style="position: absolute; margin-top: 13px; margin-left: 10px;">
                <countdown style="font-size: 25px;" #countdowns [config]="{leftTime: this.settime, demand: true}"></countdown>
            </div>
        </div>
         <div id="div1">
             <form [formGroup]="testRef" (ngSubmit)="Test()">
                <input type="submit" value="Start Test" id="btn1" class="btn btn-warning" [disabled]="k==1" (click)="countdowns.resume(); checktimeout();"/>
                  
            </form> 
        </div> 
        
    </div>
    

   

</div>



