#ul{
    list-style-type: none;
}
#li1{
    left: 60%;
    font-size: 20px;
}
#li{
    margin-right: 45px;
    margin-top: 10px;
    font-size: 20px;
}
#btn1{
    width: 50%;
    margin-top: 12px;
    border-radius: 30px;
    margin-left: 65px;
}
#previous{
    margin-top: 30px;
    width: 110px;
    margin-right: 20px;
    border-radius: 4px;
}
#next{
    margin-right: 20px;
    margin-top: 30px;
    width: 110px;
    border-radius: 4px;
}
#submit-test{
    width: 110px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 40px;
}
#hr1{
    margin-top: 30px;
    margin-right: 40px;
    border-top: 0.5px solid;
}
#div1{
    width: 85%; 
    margin-top: 10%;
    height: 60px;
    /* margin-left: 30%; */
}
#div2{
    background-color:cornsilk;
    width: 110%;
    height: 500px;
    /* margin-left: 30%; */
}
#leftdiv{
    /* width: 28%; */
    width: 330px;
    height: 500px;
    margin-top: 3.3%;
    background-color:rgb(156, 223, 245);
    float: left;
}
#middlediv{
    width: 45%;
    margin-top: 2%;
    float: left;
    margin-left: 35px;
}
 #rightdiv{
    /* width: 10%; */
    width: 370px;
    height: 500px;
    margin-top: 2%;
    float:right; 
    background-color:rgb(156, 223, 245);
} 
#timerdiv{
    background-color: white;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;
    margin-left: 130px;
    font-family: Arial, sans-serif;
    
}
#timerdiv span{
    font-size: 2em;
    margin: 0 3px 0 15px;
}
#q1_btn{
    margin-left: 10px;
}
#q1_btn:hover{
    cursor: pointer;
}
#q2_btn{
    margin-left: 10px;
}
#q2_btn:hover{
    cursor: pointer;
}

#q3_btn{
    margin-left: 10px;
}
#q3_btn:hover{
    cursor: pointer;
}
#q4_btn{
    margin-left: 10px;
}
#q4_btn:hover{
    cursor: pointer;
} 

h5{
    text-align: left;
    margin-top: 20px;
    color:black;
}
#backbtn{
    width: 13%;
    margin-top: 6%;
    border-radius: 3px;
}
#backbtn:hover{
    background-color: rgb(102, 99, 99);
    color: white;
    cursor: pointer;
}
#scorediv{
    position: absolute;
    width: 40%;
    height: 70%;
    margin-left: 28%;
    background-color:rgb(182, 176, 176); 
}
#imagediv{
    width: 30%;
    height: 33%;
    margin-right: 8%;
    background-size: cover;
    background-image: url("../../assets/thumd1.png");
}