
<div id="div1">
    <div id="div2"><h4>Update TestDetails</h4></div>
    <form #testInfo="ngForm" (ngSubmit)="updateTestData(testInfo.value)">
        <label id="label1">TestName : </label>
        <input type="text" id="input1" name="testname" [(ngModel)]="testname" ngModel><br/>

        <label id="label2">NoOfQuestions : </label>
        <input type="number" id="input2" name="noofquestions" [(ngModel)]="noofquestions" ngModel><br/>

        <label id="label2">Score : </label>
        <input type="number" id="input3" name="score" [(ngModel)]="score" ngModel><br/>

        <label id="label1">Status : </label>
        <input type="text" id="input1" name="status" [(ngModel)]="status" ngModel><br/>

        <input type="submit" value="Update" id="btn1" class="btn btn-warning">
    </form>
    <div id="backbtn"> 
        Back to previous page?<a (click)="goback()" id="clickhere">click here</a>
    </div>
    <p style="color: green;">{{msg}}</p>

</div>

