<div id="div1">
    <div id="div2"><h4>Retrive All Subjects</h4></div>
    <input type="button" value="get Subjects" id="btn1" class="btn btn-warning" (click)="loadSubjectData()">
    <div *ngIf="flag" id="tablediv">
        <table border=1 >
         <tr>
             <th>Sid</th>
             <th>Sname</th>
             <th>Level</th>            
         </tr>
         <tr *ngFor="let subject of subjectInfo">
             <td>{{subject.sid}}</td>
             <td>{{subject.sname}}</td>
             <td>{{subject.level}}</td>
         </tr>
     
        </table>
     </div>
</div>
