
*{
    margin: 4px;
}
#div1{
    margin-top: 4%;
    background-color: rgb(184, 184, 243);
}
#maindiv{
    height: 20%;
    margin-top: 1%;
    background: #f1eff0;
    display: inline-block;
    padding: 2%;
    text-align: center;
    margin-left: 6%;
    margin-right: 4%;
    border-radius: 3%;
}
#formdiv{
    margin-top: 5%;
    width: 300px;
}
form mat-form-field{
    width: 260px;
}
form mat-form-field input, form mat-form-field mat-label{
    font-size: 17px;
}
form mat-form-field mat-error{
    font-size: 14px;
}
.btn{
    background-color: rgb(184, 178, 178);
}
.btn:hover{
    background-color: rgb(119, 116, 116);
    color: white;
    box-shadow: 0px 4px 10px;
}
.btnback{
    width: 40%;
    border: none;
    box-shadow: 0px 4px 10px;
}
.btnback:hover{
    background-color: rgb(119, 116, 116);
    color: white;
    cursor: pointer;
}
/* #log{
    margin-top: 10%;
} */