<div id="div1">
     <div id="div2">   <h2 >Update Profile Page</h2></div>
        <div id="tablediv">
        <form #loginInfo="ngForm" (ngSubmit)="updateProfile(loginInfo.value)">
        <span> <label>Firstname</label></span>
        <input type="text" name="firstname" ngModel><br>

        <label>Lastname</label>
        <input type="text" name="lastname" ngModel><br>

        <label>Gender</label>
        <input type="radio" name="gender" value="Male" ngModel>Male
        <input type="radio" name="gender" value="Female" ngModel>Female<br>

        <label>age</label>
        <input type="number" name="age" ngModel><br>

        <label>Phn-Number</label>
        <input type="number" name="phnnumber" ngModel><br>

        <label>Email</label>
        <input type="text" name="email" ngModel><br>

        <label>Password</label>
        <input type="password" name="password" ngModel><br>
        
        <input type="submit" value="Update-Profile" class="btn btn-success"  id="btn1">
        <input type="reset" value="reset"><br>
        </form>

        </div>
        {{msg}}
</div>    