<div>
    <h4>Take Test</h4>
    <form #testRef="ngForm" (ngSubmit)="TakeTestData(testRef.value)">
    <label>Subject:</label>
    <input type="text" name="sname" ngModel>
    <label>Level:</label>
    <input type="text" name="level" ngModel>

    <input type="submit" value="Take Test">
    
    <div *ngIf="flag">
        <ul id="ul">
            <li>{{QuestionInfo[i]?.question}}</li>
            <li><input type="radio" name="option" value="{{QuestionInfo[i]?.optionA}}" [(ngModel)]="myRadio" (click)="check()">{{ QuestionInfo[i]?.optionA}}</li>
            <li><input type="radio" name="option" (click)="check()">{{ QuestionInfo[i]?.optionB}}</li>
            <li><input type="radio" name="option" (click)="check()">{{ QuestionInfo[i]?.optionC}}</li>
            <li><input type="radio" name="option" (click)="check()">{{ QuestionInfo[i]?.optionD}}</li>
            <input type="submit" value="Previous" name="previous" id="previous" (click)="previousquestion()" [disabled]="i==0">&nbsp;
            <input type="submit" value="Next" name="next" id="next" (click)="nextquestion()" [disabled]="i==QuestionInfo.length-1">
        </ul>
        
    </div>  

    </form>

    <span *ngIf="i==QuestionInfo.length-1">{{msg}}</span><br/>
    <input type="Submit" value="submit" [disabled]="i!=QuestionInfo.length-1" (click)="calculatemarks()">

</div>

