<div id="div1">
    <h2 id="div2">All Student Details</h2>
    
    
   <table border=1 id="tablediv">
    <tr>
        <th>Sid</th>
        <th>name</th>
       
    </tr>
    <tr *ngFor="let student of studentInfo">
        <td>{{student.stuid}}</td>
        <td>{{student.name}}</td>
    </tr>

  

   <tr>
   
    <form [formGroup]="studentInfo1" (ngSubmit)="storeStudentDetails()">
       
        <td> <input type="number" id="input1" formControlName="stuid"></td>
        
        <td> <input type="text" id="input2" formControlName="name"></td>
        <input type="submit"  id="btn1" class="btn btn-warning" value="AddRecord">
    </form>
    
</tr>
</table>
</div>