<div>


  <!--<h1>Online Examination Application</h1>
  <app-test-passed-student></app-test-passed-student>-->
  <app-take-test></app-take-test>

  <div id="maindiv">
    <div id="divimg">
      
    </div>
    <div id="divtext">
      <h2>Online Examination Application</h2>
    </div>
    
  </div>

  <hr>
  

  <!--
  <app-student-display></app-student-display>
  <app-student-insert></app-student-insert>
  <app-student-update></app-student-update>
  <app-student-delete></app-student-delete>




  <a routerLink="store">storeQuestions</a><br/>
  <a routerLink="get">displayQuestions</a><br/>
  <a routerLink="Update">updateQuestions</a><br/>
  <a routerLink="delete">deleteQuestions</a><br/>
   <router-outlet></router-outlet>

</div>

  
  
  <app-subject-insert></app-subject-insert>
  <app-subject-display-all></app-subject-display-all>
  <app-subject-update-bysid></app-subject-update-bysid>
  <app-subject-delete></app-subject-delete>
  
  <app-student-delete></app-student-delete><br><br>

   <a routerLink="login">login</a><br>
    <a routerLink="signup">signup</a><br>
  <hr>
   <router-outlet></router-outlet>
-->
 
<a routerLink="login"></a><br>
<router-outlet></router-outlet>
  
 

  <!--
  <app-test-insert></app-test-insert>
  <app-test-display-all></app-test-display-all>
  <app-test-update></app-test-update>
  <app-test-delete></app-test-delete>
  <app-test-passed-student></app-test-passed-student>
  -->

</div>

