#div1{
    background-color:cornsilk;
    width: 40%;
    height: 300px;
    margin-left: 30%;
}
#div2{
    background-color:deepskyblue;
    height: 60px;
    margin-top: 3%;
}
#btn1{
    width: 110px;
    margin-top: 10px;
    border-radius: 4px;
    margin-right: 20px;
}
#label1{
    margin-top: 15px;
}
#label2{
    margin-top: 15px;
    margin-left: 17px;
}
#input1{
    margin-left: 10px;
}
#input2{
    margin-left: 10px;
}
#nextbtn:hover{
    color:white;
    background-color:rgb(49, 47, 47);
}