<div id="div1">
<div id="div2"><h4>Take Test</h4></div>


<span class="focus">
    <select style="margin-top: 10%; width: 25%; height: 8%;" name="sub" value="{{sub}}" #sub>
        <option>select</option>
        <option *ngFor="let sub of subjectInfo ">
            {{sub.sname}}

        </option>
    </select>&nbsp;
<select style="width: 25%;height: 8%;" name="slevel" value="{{slevel}}" #slevel>
    <option>select</option>
    <option value="low_level" id="level">Low</option>
    <option value="intermidiate_level" id="level">Intermediate</option>
    <option value="high_level"  id="level">High</option>
</select>&nbsp;
</span>
<br>
<input id="nextbtn" style="margin-top: 5%;width: 20%;" type="button" value="Next" class="btn btn-submit" (click)="TakeTestData(sub.value,slevel.value)">

</div>
