#input1{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#label{
    margin-left: 30px;
    margin-top: 10px;
}
#div2{
    background-color:deepskyblue;
    height: 60px;
}
#div1{
    background-color:cornsilk;
    width: 40%;
    height: 200px;
    margin-left: 30%;
}
#btn1{
    margin-top: 10px;
    border-radius: 4px;
}