<div id="div1">
    <div id="div2">About Us</div>
    <div id="div3">
        <div id="leftdiv">
            <div>
                <img src="../../assets/student-image.jpg" id="studentimg">
            </div>
        </div>

        <div id="rightdiv">
            <div>
                <p id="paragraph">
                    This is an Online Examination system, brought to you by Ginger Webs Pvt. Ltd. It was designed with a mission to strive for excellence, with an expertise in driving assessments in the educational domain. We prioritize quality customer experience with a goal to conduct test online assuring minimal human-intervention.
                    We provide the management of examination and assessment, using an advanced hassle-free transactional interface. The streamlined process flow help with the easy creation of tests, circulation of products, calculation of scores, etc. It provides development of an improved communication link in-between the assessor and the assessee. Multiple tests can be clubbed together to form a product that can be purchased by the candidate and would contribute to the revenue generation. Secured flow of information, multiple payment gateway options, synchronized android and iOS interface will take you to the next level of examination. The panel is self- operational that requires simple online subscription that is extremely easy to use and learn.
                    Now, perform exams meeting your requirements to restrict and liberate the movement, depute timelines, transparency of the text, shuffle and randomize, define guidelines, use tags assuring smoother search, allocate penalty on incorrect attempts, and more wherever and whenever you want to.
                </p>    
            </div>
        </div>
    </div>
</div>
<div id="lastdiv">
    Online Platform @2021
</div>
