
<div id="div1">
 
 <div *ngIf="flag" id="div3">
  <table border=1 id="tablediv">
      <tr>
        <th>Question no.</th>
        <th>Question</th>
        <th>OptionA</th>
        <th>OptionB</th>
        <th>OptionC</th>
        <th>OptionD</th>
        <th>Answer</th>
        <th>Subject</th>
        <th colspan="2">Action</th>
      </tr>
      <tr *ngFor="let question of questionInfo">
          <td>{{question.qid}}</td>
          <td>{{question.question}}</td>
          <td>{{question.optionA}}</td>
          <td>{{question.optionB}}</td>
          <td>{{question.optionC}}</td>
          <td>{{question.optionD}}</td>
          <td>{{question.answer}}</td>
          <td>{{question.sid}}</td>
          <input type="hidden" name="qid" value="{{question.qid}}" #qid />
          <input type="hidden" name="question" value="{{question.question}}" #question />
          <input type="hidden" name="optionA" value="{{question.optionA}}" #optionA />
          <input type="hidden" name="optionB" value="{{question.optionB}}" #optionB />
          <input type="hidden" name="optionC" value="{{question.optionC}}" #optionC />
          <input type="hidden" name="optionD" value="{{question.optionD}}" #optionD />
          <input type="hidden" name="answer" value="{{question.answer}}" #answer />
          <input type="hidden" name="sid" value="{{question.sid}}" #sid />
          

        <!--  <td><a routerLink="Update" id="btn1">Update</a><br></td>-->
          <td><i class="fa fa-trash-o" id="deleteicon" aria-hidden="true" (click)="deleteRecord(question.qid) "></i></td>
          <td><i class="fa fa-pencil-square-o" id="updateicon" aria-hidden="true" (click)="updateRecord(question.qid,question.question,question.optionA,question.optionB,question.optionC,question.optionD,question.answer,question.sid)"></i></td>
          <!--question.qid,question.question,question.optionA,question.optionB,question.optionC,question.optionD,question.answer,question.sid
            qid.value,question.value,optionA.value,optionB.value,optionC.value,optionD.value,answer.value,sid.value-->
        </tr>
       
        <tr id="tr1" *ngIf="field" [formGroup]="questionAdd" >
          
          <td> <input type="number" formControlName="qid"></td>
          <td><input type="text" formControlName="question"></td>
          <td><input type="text" formControlName="optionA"></td>
          <td><input type="text" formControlName="optionB"></td>
          <td> <input type="text" formControlName="optionC"></td>
          <td> <input type="text" formControlName="optionD"></td>
          <td><input type="text" formControlName="answer"/></td>
          <td> <input type="number" formControlName="sid"/></td>
          <td> <input type="button" value="Delete" /></td>
          <td> <input type="button" value="Update"/></td>
        
        </tr>
        <input type="button" value="Add_Data" id="btn1"  (click)="fieldAppear()"/>
        <input type="submit"  id="btn1"  value="submit" (click)="storeStudentDetails()"/>
      </table>
      {{msg}}
</div>


    <!--<span><a routerLink="store" id="btn1" class="btn btn-primary">Store Questions</a><br></span>
    <span><a routerLink="get" id="btn1" class="btn btn-primary">Display Questions</a><br></span>
    <span><a routerLink="Update" id="btn1" class="btn btn-primary">Update Questions</a><br></span>
  <span><a routerLink="delete" id="btn1" class="btn btn-primary">Delete Questions</a><br></span>
    <hr>
   <router-outlet></router-outlet>
  -->
</div>

