#btn1{
    width: 120px;
    background-color: rgba(194, 187, 187, 0.856);
    margin-top: 10px;
    border: none;margin-left: 5px;
}
span{
    display: inline-block;
    margin-left: 0.8%;
}

/* #tablediv{
   text-align: center;
    background-color:cornsilk;
   
} */

#div1{
    background-image: linear-gradient(to bottom, #03a9f43b, #03a9f43b, white);
}


#div2{
    background-color:deepskyblue;
    margin-left: 15%;
    width: 70%;
    height: 30px;
    border-radius: 8px;
}

#btn1:hover{
    background-color: rgb(122, 118, 118);
}
#tablediv{
    margin-top: 1%;
    margin-left: 10%;
    background-color:cornsilk;
    width: 80%;
    height: 100%;
}
#datatable{
    width: 500px;
}

#deleteicon:hover{
    cursor: pointer;
}
#updateicon{
    width: 20px;
    height: 20px;
}
#updateicon:hover{
    cursor: pointer;
}
#input1{
    width: 100%;
}
#input2{
    width: 100%;
}
#input3{
    width: 100%;
} 

